In [44]:
s ='hello\nbela'
print(s)
#\n use korle line break kore nicher line e jay(new line)
s ='hello\n bela'
print(s)
#\n use korle tar upore space use korle only space print hbe orelse hbena
s ='hello \nbela'
print(s)
#\n er age space thakle no one cares
s ='hello \n bela'
print(s)
#\n er ager space tar kono patta nai porer space tar jonno bela er age space print hbe

hello
bela
hello
 bela
hello
bela
hello
 bela

In [43]:

q = 'hello\tbela'
print(q)
#\t 4ta white space print kore
q = 'hello\t bela'
print(q)
q = 'hello \tbela'
print(q)
q = 'hello \t bela'
print(q)

hello	bela
hello	 bela
hello 	bela
hello 	 bela

In [45]:
#\b ekta backspace print kore
p = 'hello\b bela'
print(p)
#o ke remove korlo
p = 'hello\bbela'
print(p)
#maje kintu space asbena na dile
p = 'hello \bbela'
print(p)
#hello er pore j space ta chilo oita remove korlo
p = 'hello  \b bela'
print(p)
p = 'hell\b bela'
print(p)

hello bela
hellobela
hello bela
hello   bela
hell bela

In [36]:
#string er .format() use kore formatting kora hoy. {} er majhe giye index wise string format e value gulo print hbe
s = 'Hello {}, I am {}.'.format('Bob','Alice')
print(s)
s = 'Hello {0}, I am {1}.'.format('Bob','Alice')
print(s)
s = 'Hello {1}, I am {0}.'.format('Bob','Alice')
print(s)
s = 'Hello {name2}, I am {name1}.'.format(name1 ='Bob',name2 ='Alice')
print(s)
#print(s)

Hello Bob, I am Alice.
Hello Bob, I am Alice.
Hello Alice, I am Bob.
Hello Alice, I am Bob.

In [37]:
s = 'hello {0}, lend me {1:d}$?'.format("bob",100)
print(s)
#numver o format kora jay. here after lend me we can see {1:d}
#{1} this part is the index and {:d} this stands for integer.

hello bob, lend me 100$?

In [42]:
s = 'I have no {0}, but want to go on a {1}, I need {2:6.3f}$'.format('money','tour',65.345678)
print(s)

#eikhane format kora holo float number k. how? {2}is the index position.
#{:6}means this there will be six digits after the float dot 
#and {.3} means we will only show 3 digits after the dot of float and {f} indicates float. 
#float dot er ager number kintu change hbena . final value is {2:6.3f} 
#$ dollar sign code er part na :3

I have no money, but want to go on a tour, I need 65.346$

In [16]:
#function
def f2():
    f3()
    print("in f2 ")
    
def main():
    print("see")
    f1()
    print("no")
    
def f1():
    print("in f1")
    
def f1():
    print("in f1 ")
    f2()
    
k = f1
k()


if __name__ == "__main__":
    main()

in f1
in f3 n
in f2
see
in f1
in f3 n
in f2
no

In [5]:
print(
    'wow! great! stunning!'.count("!"),
    "wow! great! stunning!".count("!", 10, 20),
    "wow! great! stunning!".count("!", 10)
)
#what's happening? so amra jokhon count fnctn use kori tokhon total number of substring dekhay.(like the 1st one)
#2nd tay ki hoy? eikhane "!" er pore j 10,20 ache eigulo kindof range er moto kaj kore

3 1 2

In [33]:
print("wow! great! stunning!".count('!',3))
#see 0-3 er moddhe jeitai dao na keno '!' er pore output ashe 3
print( "wow! great! stunning!".count('!',4))
#4 dilam r sathe sathei 2 hoye gelo, 4-10 er moddhe jeitai dao na keno answer 2 asbe
print( "wow! great! stunning!".count('!',11))
#range 11 hoilei 1 asbe upto 20
print( "wow! great! stunning!".count('!',21))
#20 er pore to out of range

3
2
1
0

In [50]:
lst =['Ronaldo','Messi','Rivaldo','Hazard']
val = [min(lst[::2])+ 'Ronaldinho']
print(val)

['RivaldoRonaldinho']

In [42]:
lst =['Ronaldo','Messi','Rivaldo','Hazard']
lst.sort()
print(lst)
lst =['Ronaldo','Messi','Rivaldo','Hazard']
val = min(lst)
print(val)
#as H has the least ASCII value.
val1= min(lst[::2])
print(val1)
#val1 er slicing korlam. kore dui ghor pore 2no index er element print korlam

['Hazard', 'Messi', 'Rivaldo', 'Ronaldo']
Hazard
Rivaldo

In [3]:
lst =[2,4,6,8,10,12,14,16]
lst = lst[7:0:-1]
print(lst)

[16, 14, 12, 10, 8, 6, 4]

In [5]:
lst = [2,4,6,8,10]
lst_comp = [sum(lst[0:i+1]) for i in range(0,len(lst))]
print(lst_comp)

[2, 6, 12, 20, 30]